* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o corpo ocupe a tela toda */
    background-color: #333;
    padding: 20px; /* Adiciona um respiro em telas menores */
}

#game-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 colunas de largura igual */
    grid-template-rows: repeat(8, 1fr);    

   
    width: 90vmin; /* 90% da menor dimensão da tela (altura ou largura) */
    height: 90vmin;
    max-width: 800px; /* Limite máximo de tamanho */
    max-height: 800px;

    aspect-ratio: 1 / 1;

    border: 5px solid #4a2323;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}


.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Necessário para posicionar os indicadores */
}

.light { background-color: #eeeed2; }
.dark { background-color: #673166; }

/* Estilo para as imagens das peças */
.cell img {
    width: 85%;
    height: 85%;
    object-fit: contain;
    pointer-events: none;
}



.selecionada {
   
    outline: 4px solid #ffdd44;
    outline-offset: -4px; /* Coloca o contorno para dentro */
}

.move-indicator {
    width: 35%; /* Usa porcentagem para ser responsivo */
    height: 35%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    /* Garante que o indicador não afete o layout */
    position: absolute; 
}